@font-face {
  font-family: "Petit";
  src: url("../fonts/Petit-Cochon.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Nunito";
  src: url("../fonts/Nunito-Regular.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}

*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

html{
    scroll-behavior:smooth;
}

body{
    font-family:Arial, sans-serif;
    background:#fef4f1;
    color:#222;
    min-height:100vh;

    display:flex;
    flex-direction:column;
}

/* =========================
   GLOBAL CONTAINER
========================= */

.container{
    width:90%;
    max-width:1300px;
    margin:auto;
}

/* =========================
   NAVBAR
========================= */

.navbar{
    height:75px;
    background:#fff;
    display:flex;
    align-items:center;
    box-shadow:0 10px 60px 6px rgba(0,0,0,0.15);
}

.logo-login{
    width:100%;
    display:flex;
    justify-content:space-between;
    align-items:center;
}


.logo{
    display:flex;
    align-items:center;
    gap:10px;
    cursor:pointer;
    text-decoration:none;
}

.company-name-logo{
    display:flex;
    align-items:center;
    cursor:pointer;
    font-size:25px;
    text-decoration:none;
    color:#222;
    font-family: "Petit";
}

.logo-circle{
    width:50px;
    height:50px;
    border-radius:50%;
    object-fit:cover;
}

.auth-buttons{
    display:flex;
    align-items:center;
    gap:10px;
}

.login-btn{
    width:120px;
    height:40px;
    border:1px solid #da6319;
    border-radius:20px;
    color:#da6319;
    background:#fef4f1;
    cursor:pointer;
    font-weight:bold;
    transition:0.3s;
}

.login-btn:hover{
    color:#fff;
    background:#da6319;
}


.reg-btn{
    width:120px;
    height:40px;
    border:1px solid #da6319;
    border-radius:20px;
    color:#da6319;
    background:#fef4f1;
    cursor:pointer;
    font-weight:bold;
    transition:0.3s;
}

.reg-btn:hover{
    color:#fff;
    background:#da6319;
}

/* =========================
    POPUP
========================= */

.popup-overlay{
    position:fixed;

    inset:0;

    background:rgba(0,0,0,0.5);

    display:none;

    align-items:center;

    justify-content:center;

    z-index:9999;

    backdrop-filter:blur(5px);
}

.popup-overlay.show{
    display:flex;
}

.popup-box{
    width:400px;

    background:#fff;

    padding:35px;

    border-radius:25px;

    position:relative;

    display:flex;

    flex-direction:column;

    gap:18px;

    animation:popupShow 0.3s ease;
}

.popup-box form{
    display:flex;
    flex-direction:column;
    gap:15px;
}


.phone-group{
    width: 100%;
    display:flex;
    gap:10px;
    align-items:center;
}

.iti{
    width: 100%;
}



/* CLOSE BUTTON */

.close-popup{
    position:absolute;

    top:15px;
    right:18px;

    border:none;

    background:none;

    font-size:30px;

    cursor:pointer;

    color:#777;
}

[dir="rtl"] .popup-box {
    text-align: right;
}

[dir="rtl"] .popup-box input {
    text-align: right;
    direction: rtl;
}

[dir="rtl"] .close-popup {
    right: auto;
    left: 18px;
}

/* TITLE */

.popup-box h2{
    text-align:center;

    color:#da6319;
}

/* INPUTS */

.popup-box input{
    width:100%;

    padding:14px;
    border:1px solid #ddd;

    border-radius:20px;
    outline:none;

    font-size:15px;

    transition:0.3s;
}

.popup-box input:focus{
    border-color:#da6319;
}

/* BUTTON */

.popup-btn{
    padding:14px;
    border:1px solid #da6319;
    border-radius:20px;
    color:#da6319;
    background:#fef4f1;
    cursor:pointer;
    font-weight:bold;
    transition:0.3s;
}

.popup-btn:hover{
    color:#fff;
    background:#da6319;
}

/* ANIMATION */

@keyframes popupShow{

    from{
        opacity:0;

        transform:scale(0.9);
    }

    to{
        opacity:1;

        transform:scale(1);
    }

}


/* =========================
   COVER
========================= */

.cover img{
    width:100%;
    height:300px;
    object-fit:cover;
    display:block;
}

/* =========================
   PROFILE
========================= */

.profile{
    margin-top:-60px;
    position:relative;
    z-index:2;
}

.profile-box{
    background:#fff;
    border-radius:20px;
    padding:25px;
    display:flex;
    align-items:center;
    gap:20px;
    box-shadow:0 5px 20px rgba(0,0,0,0.15);
    position: relative;
}


.profile-box{
    position: relative;
}


.social-icons{
    position: absolute;
    top: 25px;
    right: 25px;

    display: flex;
    align-items: center;
    gap: 12px;
}

.social-icons a{
    width: 42px;
    height: 42px;

    border:1px solid #555;
    border-radius:20px;
    color:#555;

    display: flex;
    align-items: center;
    justify-content: center;

    background: #fff;
    color: #555;

    border-radius: 50%;

    text-decoration: none;

    box-shadow: 0 4px 12px rgba(0,0,0,0.3);

    transition: all 0.3s ease;
}

.social-icons a:hover{
    color: #da6319;
    border-color: #da6319;
    transform: translateY(-3px);
}

.social-icons i{
    font-size: 18px;
}



.avatar{
    width:100px;
    height:100px;
    border-radius:50%;
    object-fit:cover;
    border:4px solid #fff;
}

.title{
    font-size:28px;
    font-weight:bold;
}

.subtitle{
    color:#777;
    font-size:14px;
    margin-top:5px;
}

.description{
    margin-top:12px;
    color:#555;
    max-width:700px;
    line-height:1.6;
}

.products-btn,
.bio-btn,
.portfolio-btn{
    width:auto;
    min-width:120px;
    height:40px;
    margin-top:15px;
    padding:10px 22px;
    border-radius:20px;
    border:1px solid #da6319;
    background:#fef4f1;
    color:#da6319;
    font-weight: bold;
    cursor:pointer;
    margin-right:10px;
    transition:0.3s;
    white-space:nowrap;
}

.products-btn:hover,
.bio-btn:hover,
.portfolio-btn:hover{
    color:#fff;
    background:#da6319;
}

.active-btn-profile{
    background:#da6319;
    color:#fff;
}

/* =========================
    Bio Section
========================= */
.bio-section{
    display:none;

    background:#fff;

    padding:30px;

    border-radius:20px;

    margin-top:40px;

    box-shadow:0 5px 15px rgba(0,0,0,0.15);
}

.bio-section h3{
    margin-bottom:15px;
}

.bio-section p{
    line-height:1.8;
    color:#555;
}

/* =========================
    Portfolio Section
========================= */
.portfolio-section{
    display:none;

    background:#fff;

    padding:30px;

    border-radius:20px;

    margin-top:40px;

    margin-bottom:15px;

    box-shadow:0 5px 15px rgba(0,0,0,0.15);
}

/* =========================
    PORTFOLIO SLIDER
========================= */

.portfolio-slider{
    width:100%;

    overflow:hidden;

    position:relative;

    direction: ltr;
}

.slider-track{
    display:flex;

    margin-top: 10px;
    margin-bottom: 10px;

    gap:30px;

    width:max-content;

    will-change: transform;

    animation:scrollSlider 20s linear infinite;
}

/* PAUSE ON HOVER */

.portfolio-slider:hover .slider-track{
    animation-play-state:paused;
}

/* GROUP */

.portfolio-group{
    display:flex;

    gap:20px;

    align-items:flex-start;
}

/* LEFT COLUMN */

.small-column{
    display:flex;

    flex-direction:column;

    gap:20px;
}

/* SMALL CARDS */

.small-card{
    width:240px;

    height:240px;

    border-radius:28px;

    overflow:hidden;

    flex-shrink:0;

    background:#fff;

    box-shadow:0 5px 20px rgba(0,0,0,0.15);

    transition:0.3s;
}

/* BIG CARD */

.big-card{
    width:300px;

    height:500px;

    border-radius:28px;

    overflow:hidden;

    flex-shrink:0;

    background:#fff;

    box-shadow:0 5px 20px rgba(0,0,0,0.15);

    transition:0.3s;
}

/* IMAGE */

.small-card img,
.big-card img{
    width:100%;

    height:100%;

    object-fit:cover;

    display:block;
}

/* HOVER */

.small-card:hover,
.big-card:hover{
    transform:scale(1.03);
    
}

/* Portfolio ANIMATION */

@keyframes scrollSlider{

    from{
        transform:translateX(0);
    }

    to{
        transform:translateX(var(--translate-x, calc(-50% - 15px)));
    }

}


/* =========================
    Products Navigation
========================= */

.section{
    padding:15px 0;
}

.products-nav{
    background-color: #fef4f1; 
    padding: 10px 20px;
    border-radius: 12px;
    font-family: Arial, sans-serif;

    background: 
        linear-gradient(#fef4f1, #fef4f1) padding-box, 
        linear-gradient(to right, #da6319, transparent) border-box;
        
    border: 1px solid transparent;
    
    display: flex;
    font-family: sans-serif;
}

.tabs-list {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex; 
}

.tab-item {
    padding: 10px 15px;
    cursor: pointer;
    color: #666; 
    font-weight: 500;
    transition: all 0.3s ease;
}

.tab-item.active-btn-products-nav {
    color: #da6319; 
    border-bottom: 3px solid #da6319; 
}

.tab-item:hover {
    color: #da6319;
}

.nav-section{
    padding-bottom:30px;
}

/* =========================
    COURSES
========================= */
.course-container{
    display:flex;
    flex-wrap:wrap;
    gap:25px;
    justify-content:center;
}

.best-seller-tag{
    position:absolute;

    top:20px;
    left:20px;

    background:#eceb98;
    color:#555;

    padding:8px 14px;

    border-radius:14px;

    font-size:13px;

    font-weight:bold;

    z-index:5;

    box-shadow:0 5px 15px rgba(0,0,0,0.15);
}

.course-card{
    width:320px;
    background-color: #fff; 
    box-shadow:0 5px 15px rgba(0,0,0,0.15);
    padding: 15px;
    border-radius: 20px;
    background: 
        linear-gradient(#fff, #fff) padding-box, 
        linear-gradient(to top, #da6319, transparent) border-box;
        
    border: 1px solid transparent;
    transition:0.3s;
    position:relative;

}

.course-card:hover{
    transform:translateY(-5px);
}

.course-img{
    width:100%;
    border-radius:15px;
}

.rating{
    color:#da6319;
    font-size:18px;
    margin-top:10px;
    font-weight: bold;
}


.course-title{
    font-weight:bold;
    margin:10px 0;
    font-size:18px;
}

.course-slogan{
    margin:10px 0;
    font-size:12px;
    color: #555;
}

.meta{
    color:#555;
    font-size:13px;

    display:flex;
    align-items:center;
    gap:25px;
    margin-top:10px;
    font-size:14px;
}

.meta-item{
    display:flex;

    align-items:center;

    gap:8px;
}

.meta-item i{
    width:34px;
    height:34px;

    display:flex;

    align-items:center;
    justify-content:center;

    border-radius:50%;

    background:#fef4f1;

    color:#555;

    font-size:16px;
}

.price{
    color:#da6319;
    font-weight:bold;
    margin-top:12px;
    font-size:20px;
}

.old-price{
    text-decoration:line-through;
    color:#aaa;
    font-size:17px;
    margin-left:5px;
}

.dis-percentage{
    
    color: #25ae22;
    background-color: #e9f7e8;
    padding: 3px 6px;
    border-radius: 20px;
    font-size:17px;
    margin-left:5px;
    width: fit-content;
}

.buy-btn{
    margin-top:15px;
    width:100%;
    padding:12px;
    border:1px solid #da6319;
    color:#da6319;
    background:#fef4f1;
    border-radius:12px;
    cursor:pointer;
    font-size: 12px;
    font-weight:bold;
    transition:0.3s;
    display:flex;
    align-items:center;
    justify-content:center;
    text-decoration:none;
}

.buy-btn:hover{
    background:#da6319;
    color:#fff;
}
 
/* =========================
   FOOTER
========================= */


.footer{
    margin-top:40px;

    background:#0b0b2d;
    color:#fff;

    text-align:center;

    padding:25px;
}

.company-name{
    font-family: "Petit";
    font-size: 25px;
}
/* =========================
    TAB CONTENT
========================= */

.tab-content{
    display:none;
}

#courses-content{
    display:block;
}

/* =========================
    EMPTY BOX
========================= */

.addons-container{
    background:#fff;

    padding:60px 30px;

    border-radius:20px;

    text-align:center;

    box-shadow:0 5px 15px rgba(0,0,0,0.15);
}

.obj-container{
    background:#fff;

    padding:60px 30px;

    border-radius:20px;

    text-align:center;

    box-shadow:0 5px 15px rgba(0,0,0,0.15);
}

.addons-container h2{
    color:#da6319;

    margin-bottom:12px;
}

.addons-container p{
    color:#777;

    font-size:16px;
}

.obj-container h2{
    color:#da6319;

    margin-bottom:12px;
}

.obj-container p{
    color:#777;

    font-size:16px;
}


/* =========================
   RESPONSIVE
========================= */

@media(max-width:768px){

    .profile-box{
        flex-direction:column;
        text-align:center;
    }

    .logo{
        font-size:16px;
    }

    .login-btn{
        width:100px;
    }

    .section h3{
        text-align:center;
    }

}

/* ==========================================
   RTL SYSTEM OVERRIDES (ARABIC)
=========================================== */
[dir="rtl"],
[dir="rtl"] body,
[dir="rtl"] input,
[dir="rtl"] button,
[dir="rtl"] select,
[dir="rtl"] textarea {
    font-family: 'Cairo', sans-serif !important;
}

[dir="rtl"] .social-icons {
    right: auto;
    left: 25px;
}

[dir="rtl"] .products-btn,
[dir="rtl"] .bio-btn,
[dir="rtl"] .portfolio-btn {
    margin-right: 0;
    margin-left: 10px;
}

[dir="rtl"] .best-seller-tag {
    left: auto;
    right: 20px;
}

[dir="rtl"] .old-price,
[dir="rtl"] .dis-percentage {
    margin-left: 0;
    margin-right: 8px;
}

[dir="rtl"] .meta {
    gap: 20px;
}


@media(max-width:768px){
    [dir="rtl"] .profile-box {
        flex-direction: column;
    }
    [dir="rtl"] .social-icons {
        position: static;
        margin-top: 15px;
        justify-content: center;
    }
}
