
<!DOCTYPE html>
<html lang="en">
<head>

  <meta charset="UTF-8" />

  <meta name="viewport"
        content="width=device-width, initial-scale=1.0"/>

  <title>Blender Course</title>
  <link rel="icon" type="image/png" href="../imgs/logo/Animfy-favicon.png">
  <link rel="stylesheet" href="../css/my-courses.css"/>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css"/>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/intl-tel-input@19.5.6/build/css/intlTelInput.css">
  <script src="https://cdn.jsdelivr.net/npm/intl-tel-input@19.5.6/build/js/intlTelInput.min.js"></script>


</head>
<body>

    <!-- =========================
       NAVBAR
  ========================== -->

  <div class="navbar">
    <div class="main-container">

      <div class="logo-login">
        <a href="../index.html" class="logo">
          <img class="logo-circle"
              src="../imgs/logo/Animfy Logo.png" />
          <span class="company-name-logo">ANIMFY</span>
        </a>

<div class="user-dropdown">

  <div class="user-trigger" id="user-trigger">

    <img src="../imgs/users-imgs/user.jpg" class="user-img">

    <span class="user-name">
      Omar Yassin
    </span>

    <i class="fa-solid fa-chevron-down"></i>

  </div>

  <div class="dropdown-menu" id="dropdown-menu">

    <a href="../website pages/my-courses.html" class="dropdown-item">
      <i class="fa-solid fa-book"></i>
      My Courses
    </a>

    <a href="#" class="dropdown-item logout-item">
      <i class="fa-solid fa-right-from-bracket"></i>
      Logout
    </a>

  </div>

</div>
        


      </div>

    </div>
  </div>

  <div class="container">
  <h1 class="page-title"> My Courses </h1>

  <div class="courses-grid">

    <!-- COURSES CONTENT -->

    <div id="courses-content" class="tab-content">

        <div class="course-container">

            <!-- COURSE 1 --> 

            <div class="course-card">

              <div class="best-seller-tag">
                Best Seller
              </div>

                <img class="course-img"
                     src="../imgs/courses-thumbnails/blender-thumbnail.jpg"
                     alt="Course Thumbnail"/>

                <div class="rating">
                  <div class="stars">
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <span>5.0</span>
                  </div>
                </div>

                <div class="course-title">
                    Complete Blender Mega Course - كورس بليندر كامل للمبتدئين
                </div>

                <div class="course-slogan">
                    Blender for Beginners: From Zero to 3D Artist
                </div>
                
                <div class="meta">

                  <span class="meta-item">
                      <i class="fa-regular fa-clock"></i>
                      18:36:36 hr
                  </span>

                  <span class="meta-item">
                      <i class="fa-regular fa-circle-play"></i>
                      89 Lectures
                  </span>

                </div>

                <a href="#" class="watch-btn">
                  Watch Now
                </a>

            </div>

            <!-- COURSE 2 -->

            <div class="course-card">

                <img class="course-img"
                     src="../imgs/courses-thumbnails/blender-thumbnail.jpg"
                     alt="Course Thumbnail"/>

                <div class="rating">
                  <div class="stars">
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star-half-stroke"></i>
                    <span>4.8</span>
                  </div>
                </div>

                <div class="course-title">
                    Complete Blender Mega Course - كورس بليندر كامل للمبتدئين
                </div>

                <div class="course-slogan">
                    Blender for Beginners: From Zero to 3D Artist
                </div>

                <div class="meta">

                  <span class="meta-item">
                      <i class="fa-regular fa-clock"></i>
                      18:36:36 hr
                  </span>

                  <span class="meta-item">
                      <i class="fa-regular fa-circle-play"></i>
                      89 Lectures
                  </span>

                </div>

                <a href="#" class="watch-btn">
                  Watch Now
                </a>

            </div>

            <!-- COURSE 3 -->

            <div class="course-card">

                <img class="course-img"
                     src="../imgs/courses-thumbnails/blender-thumbnail.jpg"
                     alt="Course Thumbnail"/>

                <div class="rating">
                  <div class="stars">
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <span>5.0</span>
                  </div>
                </div>

                <div class="course-title">
                    Complete Blender Mega Course - كورس بليندر كامل للمبتدئين
                </div>

                <div class="course-slogan">
                    Blender for Beginners: From Zero to 3D Artist
                </div>

                <div class="meta">

                  <span class="meta-item">
                      <i class="fa-regular fa-clock"></i>
                      18:36:36 hr
                  </span>

                  <span class="meta-item">
                      <i class="fa-regular fa-circle-play"></i>
                      89 Lectures
                  </span>

                </div>

                <a href="#" class="watch-btn">
                  Watch Now
                </a>

            </div>

        </div>

    </div>

  </div>

  </div>

  <!-- =========================
       FOOTER
  ========================== -->

  <div class="footer">
    Powered by <span class="company-name">ANIMFY</span> 
  </div>

<script src="../js/my-courses.js"></script>
<script src="https://cdn.jsdelivr.net/npm/intl-tel-input@19.5.6/build/js/intlTelInput.min.js"></script>


</body>
</html>
